<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEntranceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/HostingService/HostingService/EntranceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEntranceService"
                contract="IEntranceService" name="BasicHttpBinding_IEntranceService" />
        </client>
    </system.serviceModel>
</configuration>